<h1>The Dogs</h1>
<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Name</th>
      <th>Age</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
</thead>
  <tbody>
    <% @dogs.each do |dog| %>
      <tr>
        <td><%= dog.type %></td>
        <td><%= dog.name %></td>
        <td><%= dog.age %></td>
        <td><%= link_to 'Destroy', dog_path(dog), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<p>
<%= link_to 'New pets', new_pet_path %>
<%= link_to 'Back', pets_path, class: " label label-primary"%>
</p>