<%= form_for @pet do |f| %>
 
  <% if @pet.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger" role="alert">
      <h5>
        <%= pluralize(@pet.errors.count, "error") %> prohibited
        this pet from being saved:
      </h5>
      <ol>
        <% @pet.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ol>
      </div>
    </div>
  <% end %>

   
  <div class "container">
    <p>
      <%= select :pet, :type, ['Cat', 'Dog'] %>
    </p>
    <p>
      <%= f.label :name%><br>
      <%= f.text_field :name%>
    </p>
    <p>
      <%= f.label :age %><br>
      <%= f.text_field :age%>
    </p>
      <%= link_to 'Back', pets_path%>
      <%= f.submit%>
  <% end %>
</div>
