<h1>The Pets</h1>
<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Name</th>
      <th>Age</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
</thead>
  <tbody>
    <% @pets.each do |pet| %>
      <tr>
        <td><%= pet.type %></td>
        <td><%= pet.name %></td>
        <td><%= pet.age %></td>
        <td><%= link_to 'Show', pet_path(pet) %></td>
        <td><%= link_to 'Edit', edit_pet_path(pet) %></td>
        <td><%= link_to 'Destroy', pet_path(pet), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<p>
<%= link_to 'New pets', new_pet_path %>
</p>