<div class "container"> 
  <p>
   
  <p>
      <%= @pet.type %>
  </p>
   
  <p>
      <%= @pet.name %>
  </p>

    <p>
      <%= @pet.age %>
  </p>
 
  <%= link_to 'Back', pets_path, class: " label label-primary"%> 
</div>