<h1>The cats</h1>
<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Name</th>
      <th>Age</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
</thead>
  <tbody>
    <% @cats.each do |cat| %>
      <tr>
        <td><%= cat.type %></td>
        <td><%= cat.name %></td>
        <td><%= cat.age %></td>
        <td><%= link_to 'Destroy', cat_path(cat), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<p>
<%= link_to 'New pets', new_pet_path %>
<%= link_to 'Back', pets_path, class: " label label-primary"%> 
</p>